
@{
    ViewData["Title"] = "Notifications";
}

<link href="~/vendor/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="~/vendor/bootstrap-combobox/css/bootstrap-combobox.min.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="~/vendor/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="~/vendor/bootstrap-combobox/js/bootstrap-combobox.js"></script>
<script type="text/javascript" src="~/vendor/sockjs-client/sockjs.js" ></script>

<div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header bg-transparent">
                <h3 class="mb-0">Notifications</h3>
            </div>
            <div class="card-body">
                <div id="editor"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="row">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <h3 class="mb-0">Collection</h3>
                    </div>
                    <div class="card-body">
                        
                        <select class="combobox input-large form-control" required="required">
                            <option value="" selected="selected"> Select a collection</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="CT">Connecticut</option>
                            <option value="NY">New York</option>
                            <option value="MD">Maryland</option>
                            <option value="VA">Virginia</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <h3 class="mb-0">Commands</h3>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary my-4" id="previewBtn">Show preview</button>
                        <button class="btn btn-primary my-4" type="submit" id="sendBtn">Send notification</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.combobox').combobox();

        $("#sendBtn").click(function () {
            console.log("Click on send button");

            var form = document.getElementById('form');
            var message = document.getElementById('message');
            form.onsubmit = function () {
                socket.send(message.value);
                message.value = '';
                return false;
            };
        });

        $("#previewBtn").click(function () {
            console.log("Click on preview button");

            console.log("Starting websocket.");

            var userName = '@User.Identity.Name'.replace("\\", "-");;


            var webSocketURI = "ws://localhost:8888/" + userName + "/";
            var webSocketURIOld = "ws://localhost:8888/Toolbox/";

            console.log("Starting for uri " + webSocketURI);

            var sock = new SockJS('webSocketURI');
             sock.onopen = function() {
                 console.log('open');
                 sock.send('test');

                 console.log('closing websocket');
                 sock.close();
             };

             sock.onmessage = function(e) {
                 console.log('message', e.data);
                 sock.close();
             };

             sock.onclose = function() {
                 console.log('close');
             };

            //var socket = new WebSocket(webSocketURI);

            //socket.onopen = function () {
            //    console.log("Connected, send message.");
            //    socket.send('test');

            //    console.log("Closing websocket");
            //    socket.close();
            //};

            //socket.onclose = function (event) {
            //    if (event.wasClean) {
            //        console.log('Disconnected.');
            //    } else {
            //        console.log('Connection lost.'); // for example if server processes is killed
            //        // try to reconnect on old uri
            //        console.log("Error, trying with uri " + webSocketURIOld);
            //        socket = new WebSocket(webSocketURIOld);
            //    }
            //    console.log('Code: ' + event.code + '. Reason: ' + event.reason);
            //};

            //socket.onmessage = function (event) {
            //    console.log("Data received: " + event.data);
            //};

            //socket.onerror = function (error) {
            //    console.log("Error: " + error.message);
            //};

            return false;

            var form = document.getElementById('form');
            var message = document.getElementById('message');
            form.onsubmit = function () {
                socket.send(message.value);
                message.value = '';
                return false;
            };
        });

    });
</script>

<script type="text/javascript">
            var editor = new FroalaEditor('#editor', {
                heightMin: 500,
                heightMax: 700
            })
</script>

<script>
            let editorGetted = new FroalaEditor('div#froala-editor', {}, function () {
                console.log("editor : " + editorGetted.html.get())
            });
</script>

